alpha-vantage==2.2.0
boto==2.49.0
boto3==1.13.22
botocore==1.16.22
cryptography==2.1.4
distro-info===0.18ubuntu0.18.04.1
findspark==1.4.1
Flask==1.1.2
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kafka-python==2.0.1
mysql-connector-python==8.0.20
notebook==6.0.3
numpy==1.18.4
pandas==1.0.3
py4j==0.10.7
PyHive==0.6.2
pyspark==3.2.2
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
s3fs==0.4.2
s3transfer==0.3.3
webencodings==0.5.1
Werkzeug==1.0.1
